
@{
    ViewBag.Title = "IndeXadmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
    <div class="container body-content">




        <div class="row">
            <p>
                <br />
            </p>
            <table class="table">
                <tr>
                    <th>
                        <center><h3>Bienvenido a Recusos humanos</h3> </center> 
                    </th>
                </tr>

                <tr>
                    <td>
                        <p>
                            <h5>
                                Aca podra gestionar mejor a los empleados desde asignarle un puesto
                                gestionar su salario, los dias de vacaciones y las horas extras entre mas cosas
                            </h5>
                        </p>
                    </td>

                </tr>


            </table>

            <hr />
        </div>
        <div class="row">

            <img src="~/Content/Img/portada-recursos-humanos.png" width="450" height="350" />
            <div class="col-md-6">
                <p>
                   <h5>
                       Solo lo mejor para nuestros trabajadores gestionamos de manera agil y rapida 
                       su informacion establecemnos una estrecha relacion con nuestros empeados para
                       un mejor ambiente aboral
                   </h5>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                <img src="~/Content/Img/area-rrhh.png" width="400" height="300" />
            </div>
            <div class="col-md-6">
                <p>
                    <h5>
                        La mejor gestion para nuestros empleados, se parte de nuestra empresa y 
                        percibe los beneficios de trabajar con nosotros........
                    </h5>
                </p>
            </div>
        </div>
    </div>
