
@{
    ViewBag.Title = "Index";
}

<h1>Index</h1>

@Html.ActionLink("ir a Login", "Login", "Seguridad")


<div class="container body-content">



    <p>
<br />
    </p>
    <table class="table">
        <tr>
            <th>
                Bienvenido a Recusos humanos
            </th>
        </tr>

        <tr>
           <td><p>Aca podra encontrar las mejores ofertas de empleo de la empresa***

               ademas si es un empleado activo tendra accseso a su perfil ,contrato y 
               la informnacion de la empresa.
            </td>
       
        </tr>


    </table>







    <hr />

</div>
