
@{
    ViewBag.Title = "Index";
}

<div class="container body-content">



    
    <div class="row">
        <p>
            <br />
        </p>
        <table class="table">
            <tr>
                <th>
                    <h2>Bienvenido a Recusos humanos </h2>
                </th>
            </tr>

            <tr>
                <td>
                    <p>
                        Gestinar empleados,llevar control de todos los empleados , puestos, 
                        contratos,salarios, horas extras, vacaciones y demas.<br /></p>
                    <p>
                        Solo lo mejor para la comodidad y satisfaccion de nuestros empleados
                    </p>
                </td>

            </tr>


        </table>

        <hr />
    </div>
    <div class="row">

        <img src="~/Content/Img/portada-recursos-humanos.png" width="450" height="350" />
        <div class="col-md-6">
            <p>
                <h5>
                Entyra y descubre la mejor forma de gestionar la informacion de nuestros 
                    trabajadores, conoce nuestra gestion de recursos humanos.....
                </h5>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
    
            <img src="~/Content/Img/area-rrhh.png"  width="400" height="300"/>
        </div>
        <div class="col-md-6"><p>
             <h5>
                solo la mejor gestion para nuestros trabajadores ademas de multiples beneficios
                 , para un mayor confort.......
            </h5>
             </p></div>
    </div>
</div>
