
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}


    <div class="row">
        <div class="col-12">
            <h1>Login</h1>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-5 mx-auto">
            <form action="@Url.Content("~/Login")"  method="post">
                <div class="form-group">
                    <label>Usuario</label>
                    <input type="text" class="form-control" id="usuario" placeholder="Usuario">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" id="pass" placeholder="Password">
                </div>
                <button type="submit" name="btnEnviar" class="btn btn-outline-primary btn-block">Aceptar</button>
            </form>
        </div>
    </div>

