
@{
    ViewBag.Title = "Ofertas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ofertas</h2>
<div class="container body-content">



    <p>
        Ver ofertas de empleo
    </p>
    <table class="table">
        <tr>
            <th>
                Descripcion oferta
            </th>
            <th>
                Detalle oferta
            </th>
            <th>
                Nombre y requisitos
            </th>
            <th></th>
        </tr>

        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                "ver"
                "detalles"

            </td>
        </tr>


    </table>







    <hr />

</div>

